.DS_Store
./data/AtomExposed/LLL/res_area_hlahelix.csv
./data/AtomExposed/LLL/res_area_peptide.csv
./data/AtomExposed/LLY/res_area_hlahelix.csv
./data/AtomExposed/LLY/res_area_peptide.csv
./data/AtomExposed/YLQ/res_area_hlahelix.csv
./data/AtomExposed/YLQ/res_area_peptide.csv
./data/AtomExposed/GIL/res_area_hlahelix.csv
./data/AtomExposed/GIL/res_area_peptide.csv
./data/rmsd/7rtr/res-pocket
./data/rmsd/7rtr/res-complex
./data/rmsd/7rtr/res-proc
./data/rmsd/7rtr/res-prob
./data/rmsd/7rtr/res-proa
./data/rmsd/7rtr_LLY/res-pocket
./data/rmsd/7rtr_LLY/res-complex
./data/rmsd/7rtr_LLY/res-proc
./data/rmsd/7rtr_LLY/res-prob
./data/rmsd/7rtr_LLY/res-proa
./data/rmsd/7kgq/res-pocket
./data/rmsd/7kgq/res-complex
./data/rmsd/7kgq/res-proc
./data/rmsd/7kgq/res-prob
./data/rmsd/7kgq/res-proa
./data/rmsd/1oga/res-pocket
./data/rmsd/1oga/res-complex
./data/rmsd/1oga/res-proc
./data/rmsd/1oga/res-prob
./data/rmsd/1oga/res-proa
